<% include layouts/header.ejs %>
<div class="full details-page">
<div class="centralise">
<article class="c-details">
  <section class="u-primary">
    <ul class="c c-breadcrumbs">
      <li><a href="/" data-link-type="breadcrumbs">Home</a></li>
      <li><%= page.title %></li>
    </ul>
    <div class="c c-headed-text divider">
      <div class="c-body-details">
        <div class="c-body-intro">
          <h1><%= page.title %></h1>
          <% if (page.body_intro) { %>
          <div class="c c-body-intro-copy">
            <%- page.body_intro %>
          </div>
          <% } %>
          <% if (page.usp_callout) { %>
            <% include components/usp-callout.ejs %>
          <% } %>
        </div>
        <% if (page.pros && page.pros.length > 0 || page.cons && page.cons.length > 0) { %>
          <aside class="c-body-details-aside">
          <% include components/pros-cons.ejs %>
          </aside>
        <% } %>
      </div>
      <% if (page.body_copy) { %>
      <div class="c c-body-copy">
        <%- page.body_copy %>
      </div>
      <% } %>
    </div>
    <% if(page.steps) { %>
      <% include components/steps.ejs %>
    <% } %>
    <% if(page.video && page.video.title || page.process_image_link && page.process_image_link.full) { %>
    <!-- <div class="two-columns-uneven divider"> -->
      <% if(page.video && page.video.title) { %>
        <div class="c c-video-player" id="c_video_player">
          <h2><%= page.video.title %></h2>
          <div class="c-video-player__container c-video-player__lightbox" type="video">
            <iframe id="<%= page.video.id %>" src="https://www.youtube.com/embed/<%= page.video.youtube_code %>?enablejsapi=1&origin=<%= req.servername %>" frameborder="0" allowfullscreen></iframe>
            <!-- <img data-youtube="<%= page.video.youtube_code %>" src="<%= page.video.thumbnail %>" alt="<%= page.video.title %>"> -->
          </div>
        </div>
      <% } %>
      <% if(page.process_image_link && page.process_image_link.full) { %>
      <div class="c c-process-chart">
        <h2><%= page.title %> process chart</h2>
        <a class="c-process-chart__lightbox" href="<%= page.process_image_link.full %>">
          <img src="<%= page.process_image_link.thumbnail %>" alt="<%= page.title %> process chart" />
          <%= page.title %> process chart
        </a>
      </div>
      <% } %>
    <!-- </div> -->
    <% } %>
    <% if (page.resources && page.resources.info) { %>
    <div class="c c-resources divider">
      <h2><%= page.short_title ? page.short_title : page.title %> resources</h2>
      <div class="info">
        <%- page.resources.info %>
      </div>
    </div>
    <% } %>
    <% if (page.case_study && page.case_study.length > 0) { %>
    <section class="c c-case-studies">
      <h1>Case studies</h1>
      <% page.case_study.forEach(function(cs) { %>
        <div class="c-case-studies__container">
          <div class="c-case-studies__stub">
            <h2><%= cs.title %></h2>
            <%- cs.summary %>
          </div>
          <div class="c-case-studies__toggle_visible js-toggle-visible">
            <%- cs.copy %>
            <% if(cs.quote) { %>
              <blockquote class="c-case-studies__quote">
                <div class="quote_body"><%= cs.quote %></div>
                <div class="quote_author"><%= cs.quote_author %></div>
              </blockquote>
            <% } %>
          </div>
        </div>
      <% }) %>
    </section>
    <% } %>
  </section>
</article>

<nav class="interlinks">
<h2><% if (page.template === 'prepare') { %>Other ways to prepare<% } else { %>Other ways to reach an agreement<% } %></h2>
<ul>
<% pages.forEach((p, i) => { %>
  <% if (p.template === page.template && p.title !== page.title) { %>
  <li><a href="<%= p.slug %>" data-link-type="site-nav"><%= p.title %></a></li>
  <% } %>
<% }) %>
</ul>
<div class="overview">
<h3>Overview</h3>
<p><a href="/" data-link-type="site-nav">View all child arrangements options</a></p>
</div>
</nav>

</div>
</div>
<% include layouts/footer.ejs %>
