<% include layouts/header.ejs %>
<div class="full">
  <div class="centralise">
    <div class="u-primary">
      <% include components/headed-text.ejs %>
    </div>
    <div class="u-secondary">
      <% include components/quick-links.ejs %>
    </div>
  </div>
</div>
<div class="full">
  <section class="c c-article-list js-article-list">
    <div class="centralise">
      <div class="u-cards cards-preparing">
        <h2>Preparing to make arrangements</h2>
        <% pages.forEach(function(page, i) { %>
          <% if (page.template === 'prepare-3' || page.template === 'prepare-2') { %>
            <article class="u-card template-prepare" id="card-<%= page.slug %>" data-slug="<%= page.slug %>">
              <% include templates/prepare.ejs %>
            </article>
          <% } %>
        <% }) %>
      </div>
      <div class="u-cards cards-reaching">
        <h2>Reaching an agreement</h2>
        <% pages.forEach(function(page, i) { %>
          <% if (page.template === 'compare') { %>
            <article class="u-card template-<%= page.template %>" id="card-<%= page.slug %>" data-slug="<%= page.slug %>">
              <% include templates/compare.ejs %>
            </article>
          <% } %>
        <% }) %>
      </div>
    </div>
  </section>
</div>
<% include layouts/footer.ejs %>
