<div class="c c-steps">
<% page.steps.forEach(function(step, i) { %>
  <div class="c-step c-step-<%= i %>">
    <p class="c-step-count <%= step.icon_class %>">Step <%= i + 1 %></p>
    <h2><%= step.title %></h2>
    <div class="c-step-content">
      <%- step.body %>
    </div>
    <% if (step.costs) { %>
      <div class="c-step-costs c-costs">
      <% step.costs.forEach((cost, j) => { %>
        <div class="c-step-cost c-cost">
        <h4 class="c-cost__heading"><%- cost.description %></h4>
        <p class="c-cost__amount"><strong><%- cost.amount %></strong></p>
        <% if (cost.small_print) { %>
          <p class="c-cost__small_print"><%- cost.small_print %></p>
        <% } %>
        </div>
      <% }) %>
      </div>
    <% } %>
    <% if (step.link) { %>
    <p><a class="u-btn" href="<%- step.link.url %>"><%- step.link.text %></a></p>
    <% } %>
  </div>
<% }) %>

</div>
